Repository virkarekisteri/virkarekisteri, pull requests merged in 2025-04, with the labels that each got.

#145 task/129-fix-existing-backend-tests
  backend/Virkarekisteri.Tests/src/Positions/CreatePositionTests.cs
  backend/Virkarekisteri.Tests/src/Positions/GetPositionsTests.cs
  backend/Virkarekisteri.Tests/src/Positions/UpdatePositionTests.cs
Labels: backend, testing

#147 task/139-fix-dependabot-and-code-scanning-vulnerabilities
  backend/Virkarekisteri/src/Functions/Positions/GetPosition.cs
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend

#165 Task/162 Bug fix for too long costcentre numbers when creating a position
  backend/Virkarekisteri/src/Functions/Positions/CreatePosition.cs
Labels: backend

#166 Task/161 Update of default costcentres
  database/scripts/Inserts/Costcentres.sql
Labels: backend

#151 Task/111 implement backend for authorization of position names
  backend/Virkarekisteri.Tests/src/Positions/CreatePositionTests.cs
  backend/Virkarekisteri.Tests/src/Positions/UpdatePositionTests.cs
  backend/Virkarekisteri/src/Functions/PositionNames/CreatePositionName.cs
  backend/Virkarekisteri/src/Functions/PositionNames/GetPositionName.cs
  backend/Virkarekisteri/src/Functions/PositionNames/GetPositionNames.cs
  backend/Virkarekisteri/src/Functions/PositionNames/UpdatePositionName.cs
  backend/Virkarekisteri/src/Functions/Positions/CreatePosition.cs
  backend/Virkarekisteri/src/Functions/Positions/UpdatePosition.cs
  backend/Virkarekisteri/src/Models/PositionName.cs
  backend/Virkarekisteri/src/Models/UpdatePositionDto.cs
  backend/Virkarekisteri/src/Models/UpdatePositionNameDto.cs
  backend/Virkarekisteri/src/Repositories/PositionNameRepository.cs
  database/dbo/Tables/PositionNames.sql
  database/scripts/Inserts/PositionNames.sql
  database/scripts/Inserts/Positions.sql
  frontend/public/locales/en/translation.json
  frontend/public/locales/fi/translation.json
  frontend/public/locales/sv/translation.json
  frontend/src/components/Details/BasicDetails.tsx
  frontend/src/components/Modal/CreateVirkaModal.tsx
  frontend/src/components/Modal/EndPositionModal.tsx
  frontend/src/components/Modal/MassChangesModal.tsx
  frontend/src/components/Modal/ModifyVirkaModal.tsx
  frontend/src/components/Table/VirkarekisteriTable.tsx
  frontend/src/components/VirkarekisteriContainer.tsx
  frontend/src/models/Position.ts
  frontend/src/models/PositionName.ts
  frontend/src/redux/api-slices/functions/position-names-api.ts
  frontend/src/utils/checkCostCentreActiveStatus.ts
Labels: backend

#167 Task/154 update default position names
  database/scripts/Inserts/PositionNames.sql
  database/scripts/PostDeployment.sql
Labels: backend

#171 Task/170 frontend improvements
  database/scripts/Inserts/PositionNames.sql
  frontend/src/components/AdminPanel/CostcentreAdmin.tsx
  frontend/src/components/AdminPanel/SubjectAdmin.tsx
  frontend/src/components/Modal/CreateVirkaModal.tsx
  frontend/src/components/Modal/MassChangesModal.tsx
  frontend/src/components/Modal/ModifyVirkaModal.tsx
  frontend/src/components/Table/VirkarekisteriTable.tsx
Labels: frontend

#172 Task/89 Improvements to readme files
  README.md
  database/README.md
Labels: documentation

#174 Task/112 import of position to support authorized position names
  backend/Virkarekisteri/src/Functions/Positions/CreatePositionsFromCsv.cs
Labels: backend

#180 (#173) Non active subjects to position search dropdown
  frontend/src/components/Table/VirkarekisteriTable.tsx
Labels: frontend

#181 (#113) UI to use and show authorized position names
  frontend/src/components/AdminPanel/PositionNameAdmin.tsx
  frontend/src/components/Details/BasicDetails.tsx
  frontend/src/components/Details/CostcentreDetails.tsx
  frontend/src/components/Details/PositionNameDetails.tsx
  frontend/src/components/Modal/ModifyVirkaModal.tsx
  frontend/src/components/Table/VirkarekisteriTable.tsx
  frontend/src/utils/checkPositionNameActiveStatus.ts
Labels: frontend

#185 Task/162 fix tests for costcentres number length check
  backend/Virkarekisteri.Tests/src/Positions/CreatePositionTests.cs
  backend/Virkarekisteri/src/Functions/Positions/CreatePosition.cs
  database/scripts/PostDeployment.sql
Labels: backend
